@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
    
}


body{
    background-color: #090513;
    overflow-x: hidden;
}


.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 26px 0px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.logo .logo_text h4{
    font-family: 'Agbalumo';
    font-size: 35px;
}


.nav{
    display: flex;
    justify-content: center;
}
.nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding-top: 10px;
}

.nav ul li a{
    padding: 0px 10px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
    font-weight: 600;
}

.nav ul li a:hover{
    color: orange;
}


.buttons{
    display: flex;
    justify-content: center;
}





/* Section One  */
section#section_1{
    width: 80%;
    margin: 30px auto;
    display: flex;
}


#section_1 .left_section h1{
    font-weight: 600;
    margin-top: 50px;
}

#section_1 .left_section p{

    margin-top: 30px;
    color: rgb(106, 106, 107);
    margin-bottom: 30px;

}

.user_info{
    display: flex;
    gap: 1.5rem;
}

.user_info .user_info_card h2{
    /* color: rgb(106, 106, 107); */
    color: white;
    font-family: 'Agbalumo';
}
.user_info .user_info_card span{
    color: rgb(106, 106, 107);
}

.left_section .btns{
    margin-top: 30px;
    display: flex;
    gap: 1.5rem;
}

.left_section .btns .btn:nth-child(1){
    background: linear-gradient(45deg,#D4145A,#FBB03B);
    /* background: linear-gradient(45deg,rgb(129, 19, 231),rgb(243, 11, 231)); */
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
.left_section .btns .btn:nth-child(2){
    background: white;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
}
#section_1 .right_section{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.right_section .gradient_background{
    margin-top: 30px;
    background: linear-gradient(45deg,#D4145A,#FBB03B);
    /* background: linear-gradient(45deg,rgb(129, 19, 231),rgb(243, 11, 231)); */
    width: 75%;
    height: 450px;
    border-radius: 10px;
    transform: rotate(-5deg);

    position: relative;
    
}
.right_section .gradient_background .slider{

    width: 100%;
    background-color: #090513;
    overflow: hidden;
    border: 1px solid orange;
    height: 450px;
    border-radius: 10px;
    position: absolute;
    transform: rotate(5deg);
    top: 0;
    left: 0;
    transition: 0.7s;
    cursor: pointer;
    z-index: 20;
    
}


.right_section .gradient_background .slider .slide_caption h4{
    font-weight: 600;
}
.right_section .gradient_background .slider .slide_caption p{
    color: rgb(106, 106, 107);
}



/* About Section  */
#about_section{
    display: flex;
    justify-content: center;
}
#about_section h1{
    margin-top: 100px;
    display: inline-block;
    text-align: center;
    color: rgb(154, 154, 156);
}
span.bt_line{
    display: inline-block;
    width: 100px;
    height: 5px;
    border-radius: 10px;
    background:linear-gradient(45deg,#D4145A,#FBB03B);
    /* background:linear-gradient(45deg,rgb(243, 11, 231),rgb(129, 19, 231)); */
}



section#section_2{
    width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#section_2 .left{
    width: 50%;
    display: flex;
    justify-content: center;
}
section#section_2 .left img{
    width: 50%;
}
section#section_2 .right{
    width: 50%;
}
section#section_2 .right h3{
    margin-top: 30px;
    color: rgb(206, 206, 207);
}
section#section_2 .right p{
    color: rgb(136, 136, 138);
    text-align: justify;
}









#team_section{
    display: flex;
    justify-content: center;
}
#team_section h1{
    margin-top: 100px;
    display: inline-block;
    text-align: center;
    color: rgb(154, 154, 156);
}

section#section_3{
    width: 85%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

section#section_3 .team_member_card{
    text-align: center;
    width: 100%;
    padding: 30px 0px;
    /* height: 370px; */
    /* background-color: #0b0618; */
    background: linear-gradient(45deg,#D4145A,#FBB03B);
    /* background: linear-gradient(45deg,rgb(129, 19, 231),rgb(243, 11, 231)); */
    /* border: 1px solid rgb(58, 57, 57); */
    border-radius: 15px;
    transition: 0.7s;
}



section#section_3 .team_member_card .member_img{
    margin: 20px auto;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid rgb(231, 228, 233);
    box-shadow: rgba(137, 30, 238, 0.16) 0px 10px 36px 0px, rgba(137, 30, 238, 0.06) 0px 0px 0px 1px;
}

section#section_3 .team_member_card .member_details h4{
    color:  white;

}
section#section_3 .team_member_card .member_details h6{
    color:  rgb(213, 211, 216);

}
section#section_3 .team_member_card .member_details .social_links{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 1.4rem;
}
section#section_3 .team_member_card .member_details .social_links i{
    color: white;
    cursor: pointer;
    transition: 0.6s;
}
section#section_3 .team_member_card .member_details .social_links i:hover{
    color:  rgb(137, 30, 238);
}



#video_section{
    display: flex;
    justify-content: center;
}
#video_section h1{
    margin-top: 100px;
    display: inline-block;
    text-align: center;
    color: rgb(154, 154, 156);
}







section#section_4{
    width: 85%;
    margin: 20px auto;
    
  
}


section#section_4 .project_card{
    background-color: #0a0a1b;
    box-shadow: 10px 10px 25px #04040cb0;
    width: 90%;
    margin: 0 auto;
    transition: 0.6s;
}
section#section_4 .project_card:hover{
    transform: translateY(-10px);
    box-shadow: 10px 10px 25px #14141448;
}

section#section_4 .project_card img{
    height: 220px;
    /* width: 100%; */
}
section#section_4 .project_card .desc{ 
    font-size: 14px;
}



section#section_5 {
    width: 100%;
    padding: 50px 0px;
    background-color: #08060e;
    display: flex;
}
section#section_5 .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
section#section_5 .social_links{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 1.4rem;
}
section#section_5 .social_links i{
    color: white;
    cursor: pointer;
    transition: 0.6s;
}
section#section_5 .social_links i:hover{
    color:  rgb(137, 30, 238);
}
section#section_5 a{
    text-decoration: none;
    color: #676768;
}


.responsive_header{
    display: none;
}






/* width */
body::-webkit-scrollbar {
    width: 10px;
    border-radius: 30px;
  }
  
  /* Track */
  body::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  body::-webkit-scrollbar-thumb {
    /* background: linear-gradient(45deg,rgb(129, 19, 231),rgb(243, 11, 231)); */
    background: linear-gradient(45deg,#D4145A,#FBB03B);
    border-radius: 30px;
  }
  





@media only screen and (min-width: 200px) and (max-width: 760px) {

    .header{
        display: none;
      
    }
    .responsive_header{
        display: block;
    }

    .about-content{
        margin-top: 50px;
    }

    .responsive_header .menu_bar{
        background-color: transparent;
        width: 300px;
        position: fixed;
        bottom: 30px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 80;
    }

    .responsive_header .menu_bar ul{
        list-style-type: none;
        

        display: flex;
        justify-content: space-around;

        padding: 10px 14px;
        border-radius: 35px;

       background-color: #0000008a;
       backdrop-filter: blur(10px);

      
    }
    
    
    .responsive_header .menu_bar ul li a{
        padding: 7px 0px;

        text-align: center;
        text-decoration: none;
        color: white;
        transition: 0.3s;
        font-weight: 600;
    }
    
    .responsive_header .menu_bar1 ul li a:hover{
        color: rgb(226, 153, 43);
    }



    section#section_1{
        width: 100%;
        margin: 30px auto;
        display: block;
    }
    #section_1 .left_section{
        text-align: center;
    }
    .user_info{
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }
    
    
    .left_section .btns{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        gap: 1.5rem;
    }


    #section_1 .right_section{
        margin-top: 50px;
        width: 95%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    
    }
    .right_section .gradient_background{
        margin-top: 30px;
        background: linear-gradient(45deg,#D4145A,#FBB03B);
        /* background: linear-gradient(45deg,rgb(129, 19, 231),rgb(243, 11, 231)); */
        width: 90%;
        height: 450px;
        border-radius: 10px;
        transform: rotate(-5deg);
    
        position: relative;
        
    }
    .right_section .gradient_background .slider{
    
        width: 100%;
        background-color: #090513;
        overflow: hidden;
        border: 1px solid orange;
        height: 450px;
        border-radius: 10px;
        position: absolute;
        transform: rotate(5deg);
        top: 0;
        left: 0;
        transition: 0.7s;
        cursor: pointer;
        z-index: 20;
        
    }

    

    section#section_5 .col-md-3,section#section_5 .col-md-2{
        text-align: center;
        margin: 20px 0px;
    }
    section#section_2{
        width: 100%;
        margin: 30px auto;
        display: block;
        
    }
    section#section_2 .left{
        width: 80%;
        margin: 30px auto;
        display: flex;
        justify-content: center;
    }
    section#section_2 .right{
        text-align: center;
        width: 80%;
        margin: 20px auto;
        margin-top: 70px;
    }

    
}